// credits
.credit {
    padding: 120px 0;
    .single-credit {
        box-shadow: 0px 0px 11px 7px rgba(0, 0, 0, 0.03);
        border-left: 1px solid #ddd;
        padding: 30px;
        background: #fff;
        background: $gradient-1;
        text-align: center;
        h3.title {
            color: $white;
            font-size: 26px;
            line-height: 36px;
            font-weight: 600;
            letter-spacing: 0.5px;
            margin: -6px 0 15px;
        }
        p {
            color: rgba($white, 0.95);
            margin-bottom: 23px;
        }
        a.buy-now {
            background: #242424;
            color: $white;
            font-size: 18px;
            padding: 0 25px;
            height: 45px;
            line-height: 43px;
            border: 1px solid #fff;
            border-radius: 10px 10px;
        }
    }
}