// faq
.faq {
    padding: 120px 0 90px;
    background: #f6fafe;
    .faq-sidebar {
        margin-right: -40px;
        
        .nav {
            
        box-shadow: 0px 0px 11px 7px rgba(0, 0, 0, 0.03);
            .nav-link {
                border: none;
                color: #444;
                outline: none;
                cursor: pointer;
                position: relative;
                border-bottom: 1px solid #ddd;
                height: 60px;
                width: 100%;
                text-align: left;
                font-size: 18px;
                padding: 0;
                font-family: $heading-font;
                padding-left: 30px;
                font-weight: 600;
                line-height: 60px;
                border-radius: 0;
                position: relative;
                background: $white;
                z-index: 2;
                &:last-child {
                    border-bottom: none;
                }
                &:after {
                    position: absolute;
                    content: '';
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 3px;
                    height: 0;
                    background: $gradient-1;
                    @include transition($transition);
                    z-index: -1;
                }
                &:hover {
                    &:after {
                        height: 100%;
                    }
                }
                &.active {
                    color: $white;
                    &:after {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
        h3 {
            font-size: 28px;
            font-weight: 700;
            color: $heading-color;
            margin: -8px 0 22px;
        }
        .search-widget {
            
        box-shadow: 0px 0px 11px 7px rgba(0, 0, 0, 0.03);
            form {
                margin-bottom: 30px;
                position: relative;
                input {
                    background: $white;
                    border: none;
                    height: 50px;
                    width: 100%;
                    padding: 0 30px;
                    font-family: $heading-font;
                    font-size: 15px;
                    border-left: 3px solid #ff4b2b;
                }
                button {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 50px;
                    width: 50px;
                    background: -webkit-linear-gradient(130deg, #ff416c, #ff4b2b);
                    border: none;
                    color: #fff;
                    cursor: pointer;
                    outline: none;
                }
            }
        }
    }
    .faq-content {
        margin-left: -40px;
        .single-faq {
            box-shadow: 0px 0px 11px 7px rgba(0, 0, 0, 0.03);
            padding: 30px 40px 16px;
            background: $white;
            margin-bottom: 30px;
            z-index: 2;
            position: relative;
            overflow: hidden;
            &:after {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: 100%;
                height: 1px;
                background: $gradient-1;
                opacity: .2;
            }
            h4 {
                font-size: 22px;
                line-height: 32px;
                font-weight: 700;
                color: #666;
                margin-bottom: 14px;
                @include transition($transition);
            }
            p {
                font-size: 17px;
                color: #666;
                line-height: 27px;
            }
        }
    }
}