/*==========================================
    service
==========================================*/
.service {
  padding: 120px 0; }
  .service .single-service .part-icon {
    width: 70px;
    height: 70px; }
