// credits 
@media only screen and (min-width: 320px) and (max-width: 991px) {
    .credit .single-credit h3.title {
        font-size: 24px;
        line-height: 34px;
    }
    .credit .single-credit {
        margin-bottom: 30px;
    }
    .credit {
        padding: 60px 0 30px;
    }
}