// terms
@media only screen and (min-width: 320px) and (max-width: 991px) {
    .term {
        padding: 60px 0;
    }
    .term h1.title {
        font-size: 28px;
        line-height: 38px;
    }
    .term h2 {
        font-size: 22px;
        line-height: 32px;
    }
}